DB_HOST=localhost # Database server host (e.g., localhost or the name of the db service in compose.yaml) 
DB_PORT=5432 # Port your database listens on (e.g., 5432)
DB_USER=dipudangol # Database username
DB_PASSWORD=dipudangol123 # Database password
DB_NAME= # Database name(e.g: buyerDB)
JWT_SECRET= # Secret key for JWT signing (should be kept secure)
PORT= # Port the server will run on (optional, defaults to 8000)
